<div class="navbar ">
    <!-- Logo y sección izquierda -->
    <div class="navbar-left">
        <!-- Imagen con dimensiones específicas -->
        <img [src]="rutaImagen + '/galleta2.png'" alt="Logo" />
        
        <!-- Botón justo al lado de la imagen -->
        <button class="navbar-left-button" (click)="principal()">Don Galleto</button>
      </div>
      
      
  
    <!-- Sección derecha -->
    <div class="navbar-right">
      <button class="navbar-button" (click)="ventas()">Ventas</button>
      <button class="navbar-button" (click)="produccion()">Produccion</button>
      <button class="navbar-button">Insumos</button>
      <button class="navbar-button">Reportes</button>

    </div>
  </div>
  