/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brown);
  padding: 10px 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: 50px;
  background-color: var(--beige);
  border-radius: 5px;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu-button {
  background-color: var(--beige);
  color: var(--brown);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.menu-button:hover {
  background-color: var(--brown);
  color: var(--beige);
}

/* Cards container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 20px;
  padding: 20px;
  background-color: var(--beige);
}

/* Card styles */
.card {
  background-color: var(--gray);
  border: 1px solid var(--brown);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: var(--yellow);
  color: var(--brown);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-image {
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-image img {
  width: 50%;
  height: 100%;
}

.title {
  font-weight: bold;
  color: var(--brown);
  margin: 10px 0;
}

.progress-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  margin: 5px 0;
}

.progress-bar-container {
  width: 100%;
  background-color: var(--beige);
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
}

.sold-bar {
  background-color: var(--brown);
}

.stock-bar {
  background-color: var(--green);
}
