/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Asegura que ocupe todo el ancho */
  height: 100vh; /* Asegura que ocupe toda la altura */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Evita que se desborde fuera de la pantalla */
}

/* Modal content */
.modal-content {
  background-color: var(--beige);
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Ajusta el tamaño del modal al 80% del ancho */
  max-width: 900px; /* Tamaño máximo */
  max-height: 90%; /* Altura máxima del modal */
  overflow-y: auto; /* Permite scroll interno si el contenido es muy grande */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--brown);
  font-weight: bold;
  z-index: 1001; /* Asegura que el botón esté encima */
}

.close-button:hover {
  color: var(--red);
}

/* Cards container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 15px; /* Espacio entre tarjetas */
  margin-top: 40px;
}

/* Card styles */
.card {
  background-color: var(--gray);
  border: 1px solid var(--brown);
  padding: 10px;
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  height: auto; /* Ajuste automático al contenido */
  width: 70%;
}

/* Alert */
.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: var(--yellow);
  color: var(--brown);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product image */
.product-image {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 50%; /* Ajusta el tamaño de la imagen */
  max-height: 50%;
}

/* Title */
.title {
  font-weight: bold;
  color: var(--brown);
  margin: 5px 0;
}

.progress-bar-row {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  margin-bottom: 10px; /* Espacio entre las filas */
}

.label-container {
  width: 80px; /* Ancho fijo para alinear todas las etiquetas */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
  display: flex;
  justify-content: space-between; /* Espacio entre texto y número */
}

.progress-bar-container {
  flex-grow: 1; /* La barra ocupa el espacio restante */
  background-color: var(--beige);
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px; /* Espacio entre la etiqueta y la barra */
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
}

.sold-bar {
  background-color: var(--brown);
}

.stock-bar {
  background-color: var(--green);
}

